<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>图书管理by马鹏飞李家亮</title>
    <link href="Public/CSS/Lib.css" type="text/css" rel="stylesheet">
    <link href="Public/CSS/regin.css" type="text/css" rel="stylesheet">
    <link href="Public/CSS/sign.css" type="text/css" rel="stylesheet">
    <link href="Public/CSS/site.css" type="text/css" rel="stylesheet">
    <link href="Public/CSS/picture.css" type="text/css" rel="stylesheet">

</head>
<body>
    <img class="up" src="Public/img/up.jpg">
    <div class="brow">
        欢迎使用本网站借阅书籍
        <div class="icon"><div><img src="Public/img/男同学.png"></div>请登陆后使用</div>
    </div>

    <div class="container">
        <div class="com"></div>
        <div class="search">
            <form>
                <input type="text" placeholder="请输入书名">
            </form>
            <div>
                <img src="Public/img/search.png">
            </div>
        </div>
        <div class="site">
            <div class="sall">全部图书分类</div>
            <div class="style s">国内文学</div>
            <div class="style s">国外文学</div>
            <div class="style s">小说</div>
            <div class="style s">漫画</div>
            <div class="style s">科学技术</div>
        </div>
        <div class="picture">
            <img class="images active" src="Public/img/1.jpg">
            <img class="images" src="Public/img/2.jpg">
            <img class="images" src="Public/img/3.jpg">
            <div class="left">&lt;</div>
            <div class="right">&gt;</div>
        </div>
        <div class="recom">新品推荐<img src="Public/img/4.jpg"></div>
        <div class="un1"><img src="Public/img/2019122315482941183.jpg"><div>公告区域</div></div>
        <div class="books">
            <ul>
                <li><img src="Public/img/b1.jpg"></li>
                <li><img src="Public/img/b2.jpg"></li>
                <li><img src="Public/img/b3.jpg"></li>
                <li><img src="Public/img/b4.jpg"></li>
                <li><img src="Public/img/b5.jpg"></li>
                <li><img src="Public/img/b6.jpg" style="position: relative;left: -250px;"></li>
            </ul>
        </div>
        <div class="under">
            联系我们
            <a href="#">管理员入口</a>
        </div>
    </div>

    <div class="line"></div>
    <div class="shadow"></div>
    <div class="regin">
        <p>密码登陆</p>
        <form method="POST">
            <div><img src="Public/img/admin.png"><input class="racc" name="racc" type="text" placeholder="请输入用户名"></div>
            <div><img src="Public/img/密码.png"><input class="rpass" name="rpass" type="password" placeholder="请输入密码"></div>
            <label><div class="rin"><pre>登    录</pre><input type="submit" name="submit" value=" "style="display: none"></div></label>
        </form>
            <div style="margin-top: 15px"><p style="font-size: 15px; font-weight:normal;display: inline">还没有账号？</p><button style="display: inline" id="rsi">立即注册</button></div>
            <div class="close"><img src="Public/img/close_circle.png"></div>
    </div>
    <div class="sign">
        <p>新用户注册</p>
        <form  method="POST">
        <div>用  户  名：<input class="sacc" name="sacc" type="text" placeholder="请输入账号"></div>
        <div>密       码：<input class="spass" name="spass" type="password" placeholder="请输入密码"></div>
        <div>确认密码：<input class="spass" type="password" placeholder="请再次输入密码"></div>
        <label><div class="sin">注    册<input type="submit" name="submit" value=" " style="display: none"></div></label>
        <div class="close"><img src="Public/img/close_circle.png"></div>
        </form>

    </div>
    <script src="Public/JS/picture.js"></script>
    <script src="Public/JS/regin.js"></script>

</body>
</html>